if SHIELD_MR_ALLEN_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MR_ALLEN_LEFT || SHIELD_MR_ALLEN_RIGHT

config ZMK_KEYBOARD_NAME
    default "Mr. Allen"

config ZMK_SPLIT
    default y

endif
